body {
    background: rgba(100, 168, 234, 0.2);
}

i {
    color: #5353ff;
}

img{
    border-radius: 25px;
    width: 50px;
}

.reg_form {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    background: #a1a1a1;
    border-radius: 10px;
}

.reg_form_item {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reg_form_item input {
    min-width: 250px;
}